body {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    background-color:rgb(175, 126, 190);
    padding: 20px;
}

div a{
    text-decoration: none;
    align-content: center;
    color: white;
}

div button{
    padding: 25px 35px;
    font-family: Jost;
    font-weight: regular;
    font-size: 25px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    background-color: blue;
    border-width: 0;
}
   
    