body {
    font-size: 18px;
    text-align: center;
    padding: 50px 550px;
}

div {
    text-align: left;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

.verde {
    color: green;
}

.u-line {
    text-decoration: underline;
}

.d-line {
    text-decoration: underline overline;
}

.size-bold {
    font-size: 36px;
    font-weight: bold   ;
}